<div class="title-page">Set price range</div>
<app-spinner [isLoading]="isLoading"></app-spinner>
<div
  class="mb-5"
  style="width: 100%; height: 100%; background: #f6f8fc; border-radius: 15px"
>
  <div class="bar-container">
    <div
      style="
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
      "
    >
      <div
        *ngFor="let value of barData; let i = index"
        class="bar mr-2"
        [style.width]="100 / barData.length + '%'"
        [style.height]="calculateHeight(value)"
        (mouseover)="showValue(i)"
        (mouseleave)="hideValue(i)"
      >
        <div [id]="i" class="ventana-flotante" style="display: none">
          <span class="texto-oculto">{{ valueToShow[i] }} </span>
        </div>
      </div>
    </div>

    <div
      class="mt-2"
      style="
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
      "
    >
      <div
        [style.width]="100 / barData.length - 0.1 + '%'"
        *ngFor="let year of years; let i = index"
        [ngClass]="{
          year: true,
          'year-selected': year.isSelect
        }"
        class="mr-2"
        (click)="toggleActive(year, i)"
      >
        <div
          [ngClass]="{
            'year-text': true,
            'year-text-selected': year.isSelect
          }"
        >
          {{ year.name }}
          {{ year.year }}
        </div>
      </div>
    </div>
  </div>

  <!--   <div style="width: 100%; height: 100%; position: relative">
    <div
      style="
        width: 973px;
        height: 23px;
        left: 0px;
        top: 0px;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        *ngFor="let year of years; let i = index"
        [ngClass]="{
          year: true,
          'year-selected': year.isSelect
        }"
        (click)="toggleActive(year, i)"
      >
        <div
          [ngClass]="{
            'year-text': true,
            'year-text-selected': year.isSelect
          }"
        >
          {{ year.name }}
          {{ year.year }}
        </div>
      </div>
    </div>
  </div> -->
</div>

<div class="title-page mt-5 mb-3">Information</div>
<app-message
  icon="../../../assets/icons/u_info-circle.svg"
  closeIcon="../../../assets/icons/fi_x.svg"
  content="Select the variables to be displayed in the waterfall chart."
  color="#147D8F"
  background="#EFFBFD"
></app-message>
<!-- <app-set-price></app-set-price> -->

<div class="d-flex flex-wrap justify-content-start">
  <div
    *ngFor="let data of datas; let i = index"
    [ngClass]="{
      'inner-container-active': data.isActive
    }"
    class="inner-container ml-2 mt-4"
    (click)="setClickedElement(data)"
  >
    <!--     <div
      *ngIf="data.combination"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      "
    >
      <img src="../../../assets/icons/fi_alert-circle.svg" alt="" />

      <div
        [ngClass]="{
          'circle-active': data.isActive
        }"
        class="circle"
      >
        <div
          [ngClass]="{
            'circle-content-active': data.isActive
          }"
          class="circle-content"
        >
          {{ data.tier }}
        </div>
      </div>
    </div> -->

    <!--     <div
      *ngIf="!data.combination"
      [ngClass]="{
        'circle-active': data.isActive
      }"
      class="circle"
    >
      <div
        [ngClass]="{
          'circle-content-active': data.isActive
        }"
        class="circle-content"
      >
        {{ data.tier }}
      </div>
    </div> -->
    <!--     <div class="text-container">
      <p class="main-text" style="margin-bottom: -15px !important">
        {{ data.value }}€
      </p>
      <div class="sub-text">
        <p class="sub-text-item" style="margin-bottom: -3px !important">
          of &nbsp; &nbsp; {{ tierCeroValue }} €
        </p>
        <p style="margin-bottom: -5px !important">{{ data.description }}</p>
      </div>
    </div> -->
    <div
      class="d-flex"
      style="justify-content: space-between; justify-items: center"
    >
      <label>{{ formatMonto(+data.value) }}€</label>
      <div
        style="font-weight: 600"
        [ngClass]="{
          'text-success': getRoundedPercentage(data.value, tierCeroValue) > 0,
          'text-danger': getRoundedPercentage(data.value, tierCeroValue) < 0
        }"
      >
        {{ "(" + getRoundedPercentage(data.value, tierCeroValue) + "%" + ")" }}
      </div>
    </div>
    <p
      style="
        font-weight: 700;
        font-size: 14px;
        line-height: 17.5px;
        color: rgba(0, 6, 31, 1);
      "
    >
      {{ data.description }}
    </p>
  </div>
</div>
<!-- <div
  *ngFor="let monto of montos"
  [ngStyle]="{
    'background-color':
      monto >= rangoSeleccionado.inicio && monto <= rangoSeleccionado.fin
        ? 'darkblue'
        : 'blue',
    width: monto + 'px',
    height: '20px',
    'margin-bottom': '10px'
  }"
></div> -->

<div class="d-flex flex-wrap justify-content-end mt-5">
  <a>
    <button
      [disabled]="yearIndex.length < 2"
      (click)="goWaterfall()"
      type="button"
      class="btn save-variable-button"
    >
      Show waterfall chart
    </button>
  </a>
</div>
<br />
