.title-page {
  color: #00061f;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  word-wrap: break-word;
}
.inner-container {
  padding: 1%;
  border-radius: 15px;
  flex-direction: column;
  background: #f6f3f9;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 15px;
  display: inline-flex;
  border: 2px solid #f6f3f9;
}
.inner-container-active {
  padding: 1%;
  border-radius: 15px;
  flex-direction: column;
  background: #f6f3f9;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 15px;
  display: inline-flex;
  border: 2px solid rgba(140, 100, 177, 0.5);
}
.bar-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 2px;
}

.bar {
  width: 37px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
  background: #4a6bff;
}

.circle {
  width: 44px;
  height: 43px;
  padding: 10px;
  background: #e5dced;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.circle-active {
  width: 44px;
  height: 43px;
  padding: 10px;
  background: #8c64b1;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.circle-content-active {
  text-align: center;
  color: #ffffff !important;
  font-size: 18px;
  font-weight: 700;
  word-wrap: break-word;
}
.circle-content {
  text-align: center;
  color: #8c64b1;
  font-size: 18px;
  font-weight: 700;
  word-wrap: break-word;
}

.text-container {
  height: 97px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.main-text {
  color: #00061f;
  font-size: 18px;
  font-weight: 700;
  word-wrap: break-word;
}

.sub-text {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

  font-size: 14px;
  font-weight: bold;
}

.additional-text {
  font-size: 14px;
  font-weight: 500 !important;
}
.save-variable-button {
  background-color: #000f55;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
  color: white;
}

.year {
  width: 37px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.year-text {
  color: #64748b;
  font-size: 12px;

  font-weight: 400;
  word-wrap: break-word;
}

.year-selected {
  width: 37px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #000f55;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.year-text-selected {
  color: #f6f8fc;
  font-size: 12px;

  font-weight: 400;
  word-wrap: break-word;
}
.ventana-flotante {
  position: absolute;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  z-index: 999;
}

.elemento:hover .ventana-flotante {
  display: block;
}

.texto-oculto {
  display: block;
  color: #333;
  font-size: 14px;
}
