<div class="title-page">Set price range</div>
<div
  class="mb-5"
  style="width: 100%; height: 100%; background: #f6f8fc; border-radius: 15px"
>
  <div
    style="
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 2px;
      display: inline-flex;
    "
  >
    <div
      style="
        width: 37px;
        height: 38px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #c3ceff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 43px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #c3ceff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 47px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 52px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 55px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 59px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 62px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 66px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 71px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 76px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 82px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 87px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 92px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 96px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 101px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 108px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 112px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #4a6bff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 116px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #c3ceff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 119px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #c3ceff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 123px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #c3ceff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 129px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #c3ceff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 135px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #c3ceff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 141px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #c3ceff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 151px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #c3ceff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 160px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          flex: 1 1 0;
          background: #c3ceff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        "
      ></div>
    </div>
    <div
      style="
        width: 37px;
        height: 176px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      "
    ></div>
  </div>
  <div style="width: 100%; height: 100%; position: relative">
    <div
      style="
        width: 973px;
        height: 23px;
        left: 0px;
        top: 0px;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘00
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘01
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          background: #000f55;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #f6f8fc;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘02
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘03
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘04
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘05
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘06
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘07
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘08
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘09
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘10
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘11
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘12
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘13
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘14
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘15
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          background: #000f55;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: white;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘16
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘17
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘18
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘19
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘20
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘21
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘22
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘23
        </div>
      </div>
      <div
        style="
          width: 37px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #64748b;
            font-size: 12px;

            font-weight: 400;
            word-wrap: break-word;
          "
        >
          ‘24
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title-page mt-5 mb-3">Información</div>

<!-- <app-set-price></app-set-price> -->

<div class="d-flex flex-wrap justify-content-start">
  <div
    *ngFor="let data of datas; let i = index"
    [ngClass]="{
      'inner-container-active': clickedElement === i
    }"
    class="inner-container ml-5 mt-4"
    (click)="setClickedElement(i)"
  >
    <div
      [ngClass]="{
        'circle-active': clickedElement === i
      }"
      class="circle"
    >
      <div
        [ngClass]="{
          'circle-content-active': clickedElement === i
        }"
        class="circle-content"
      >
        {{ data.tier }}
      </div>
    </div>
    <div class="text-container mb-3">
      <p class="main-text">15.325.896 €</p>
      <div class="sub-text">
        <p class="sub-text-item">of &nbsp; &nbsp; 15.325.896 €</p>

        <p>{{ data.description }}</p>
      </div>
    </div>
  </div>
</div>
<!-- <div
  *ngFor="let monto of montos"
  [ngStyle]="{
    'background-color':
      monto >= rangoSeleccionado.inicio && monto <= rangoSeleccionado.fin
        ? 'darkblue'
        : 'blue',
    width: monto + 'px',
    height: '20px',
    'margin-bottom': '10px'
  }"
></div> -->

<div class="bar-container">
  <div
    *ngFor="let value of barData; let i = index"
    class="bar"
    [style.height]="calculateHeight(value)"
    (mouseover)="showBarValue(value)"
    (mouseleave)="hideBarValue()"
  >
    <span class="tooltip" *ngIf="showTooltip">{{ hoveredValue }}</span>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-end mt-5">
  <a>
    <button
      (click)="goWaterfall()"
      type="button"
      class="btn save-variable-button"
    >
      Mostrar cascada
    </button>
  </a>
</div>
