<div class="title-page">Set price range</div>

<div
  class="mb-5"
  style="width: 100%; height: 100%; background: #f6f8fc; border-radius: 15px"
>
  <div class="bar-container">
    <div
      *ngFor="let value of barData; let i = index"
      class="bar"
      [style.height]="calculateHeight(value)"
      (mouseover)="showValue(i)"
      (mouseleave)="hideValue(i)"
    >
      <div [id]="i" class="ventana-flotante" style="display: none">
        <span class="texto-oculto">{{ valueToShow[i] }} </span>
      </div>
    </div>
  </div>

  <div style="width: 100%; height: 100%; position: relative">
    <div
      style="
        width: 973px;
        height: 23px;
        left: 0px;
        top: 0px;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2px;
        display: inline-flex;
      "
    >
      <div
        *ngFor="let year of years; let i = index"
        [ngClass]="{
          year: true,
          'year-selected': year.isSelect
        }"
        (click)="toggleActive(year, i)"
      >
        <div
          [ngClass]="{
            'year-text': true,
            'year-text-selected': year.isSelect
          }"
        >
          {{ year.name }}
          {{ year.year }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title-page mt-5 mb-3">Información</div>

<!-- <app-set-price></app-set-price> -->

<div class="d-flex flex-wrap justify-content-start">
  <div
    *ngFor="let data of datas; let i = index"
    [ngClass]="{
      'inner-container-active': clickedElement === i
    }"
    class="inner-container ml-5 mt-4"
    (click)="setClickedElement(i)"
  >
    <div
      [ngClass]="{
        'circle-active': clickedElement === i
      }"
      class="circle"
    >
      <div
        [ngClass]="{
          'circle-content-active': clickedElement === i
        }"
        class="circle-content"
      >
        {{ data.tier }}
      </div>
    </div>
    <div class="text-container mb-3">
      <p class="main-text">{{ data.value }}€</p>
      <div class="sub-text">
        <p class="sub-text-item">of &nbsp; &nbsp; {{ tierCeroValue }} €</p>

        <p>{{ data.description }}</p>
      </div>
    </div>
  </div>
</div>
<!-- <div
  *ngFor="let monto of montos"
  [ngStyle]="{
    'background-color':
      monto >= rangoSeleccionado.inicio && monto <= rangoSeleccionado.fin
        ? 'darkblue'
        : 'blue',
    width: monto + 'px',
    height: '20px',
    'margin-bottom': '10px'
  }"
></div> -->

<div class="d-flex flex-wrap justify-content-end mt-5">
  <a>
    <button
      [disabled]="yearIndex.length < 2"
      (click)="goWaterfall()"
      type="button"
      class="btn save-variable-button"
    >
      Mostrar cascada
    </button>
  </a>
</div>
