<div style="align-items: center; padding-left: 10px" class="d-flex">
  <img
    (click)="goBack()"
    style="width: 30px; height: 30px; cursor: pointer"
    src="../../../assets/icons/fi_chevron-left.svg"
    alt="arrow"
  />
  <label
    style="
      padding-left: 10px;
      color: rgba(0, 6, 31, 1);
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
    "
    class="mt-2"
    >New scenario keeping the calculation</label
  >
</div>

<div class="container-scenario">
  <div class="input-group">
    <label for="scenario-name">Name</label>
    <input
      class="input-formula mb-3"
      type="text"
      id="scenario-name"
      placeholder="(Name of scenario)"
      [(ngModel)]="scenarioName"
    />
  </div>

  <div
    class="slider-container"
    *ngFor="let node of nodes; let i = index; trackBy: trackByNodeId"
    [ngClass]="{ 'slider-container-active': node.isSelect }"
  >
    <div style="justify-content: space-between; width: auto" class="d-flex">
      <label (click)="toggleActive(node, i)" for="num-employees">{{
        node.name
      }}</label>
      <div class="d-flex amount-box">
        <label
          #labelValue
          (keydown)="preventNonNumericInput($event)"
          (input)="changeValue($event, i)"
          [attr.contenteditable]="true"
          (focus)="onFocus($event, i)"
          (blur)="onBlur($event, i)"
          >{{ formatMonto(nodes[i].value) }}</label
        >
        <p style="margin-top: -9px; margin-bottom: -1px">
          ({{ getPercentageChange(nodes[i].value, node.valuePercentage) }}%)
        </p>
      </div>
    </div>

    <div class="slider-wrapper">
      <div class="slider-value">
        <span> {{ defaultYear + ":" + " " }}</span>
        {{ formatMonto(node.staticValue) }}
      </div>
      <input
        type="range"
        id="num-employees"
        class="slider"
        min="0"
        [max]="node.maxValue"
        [(ngModel)]="nodes[i].value"
        (input)="updateValues()"
      />
      <div class="slider-point"></div>
    </div>
  </div>

  <div class="buttons">
    <button
      [disabled]="nodeIndex.length != 2"
      class="preview-button"
      (click)="previewImpact()"
    >
      Preview impact
    </button>
    <button
      [disabled]="!scenarioName"
      class="create-button"
      (click)="createScenario()"
    >
      Create scenario
    </button>
  </div>
</div>

<!-- <div
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  class="d-flex justify-content-end gap-2 align-items-center mb-3"
>
  <div
    style="
      color: rgba(140, 100, 177, 1);
      cursor: pointer;
      font-size: 12px !important;
      font-weight: bolder;
    "
  >
    See more constants
  </div>
  <img
    style="cursor: pointer"
    src="../../../assets/icons/settings.svg"
    alt=""
  />
</div> -->

<div *ngIf="showPreview">
  <table class="table-custom">
    <tr>
      <th
        style="
          background: white;
          border-top-color: white;
          border-left-color: white;
          color: white;
        "
        colspan="2"
      ></th>
      <th
        class="table-title"
        [attr.colspan]="showNodes[0].newValues.length + 1"
      >
        {{ showNodes[0].name }}
      </th>
    </tr>
    <tr>
      <th [attr.rowspan]="showNodes[1].newValues.length + 1">
        {{ showNodes[1].name }}
      </th>
      <th></th>
      <th *ngFor="let value of showNodes[0].newValues">{{ value }}</th>
    </tr>
    <!--     <tr>
      <td (click)="selectedTd()" style="padding: 0px">
        <div (click)="selectedDiv()" class="selected-td">$ 150</div>
      </td>
    </tr> -->
    <tr *ngFor="let value2 of showNodes[1].newValues; let i = index">
      <td>{{ value2 }}</td>
      <td *ngFor="let operationValue of calculation[i]">
        {{ operationValue }}
      </td>
    </tr>
  </table>

  <div class="vpn">
    <span>VPN:</span>
    <span>$ 235,000,000.00</span>
  </div>

  <div class="frequency-selector">
    <label for="frequency">Selector de frecuencia:</label>
    <input
      type="range"
      id="num-employees"
      class="slider"
      min="0"
      max="100"
      [(ngModel)]="percentageGrow"
      (input)="updateValues()"
    />

    <div class="d-flex amount-box2">
      <label
        #labelValue
        (keydown)="preventNonNumericInput($event)"
        (input)="changePercentage($event)"
        [attr.contenteditable]="true"
        >{{ percentageGrow }}</label
      >
      <label>%</label>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="variableModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div style="height: 930px" class="modal-content">
      <div class="modal-header">
        <p
          class="modal-title"
          style="color: #00061f; font-weight: 700"
          id="variableModal"
        >
          Constants
        </p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div style="flex-wrap: nowrap !important" class="input-group mt-3">
          <span class="input-group-text">
            <img
              class="mr-2"
              src="../../../assets/icons/search.svg"
              alt="searc"
            />
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Search variable names or o levels"
            aria-label="search"
          />
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <app-message
            icon="../../../assets/icons/u_info-circle.svg"
            closeIcon="../../../assets/icons/fi_x.svg"
            content="Select at least two constants to view the simulation preview."
            color="#147D8F"
            background="#EFFBFD"
          ></app-message>
        </div>
        <div
          style="justify-content: space-between; gap: 12px"
          class="d-flex flex-wrap"
        >
          <div class="constant-body selected-constant">
            this Is A Very Long Constant Name For Testing Purposes
          </div>
          <div class="constant-body">constant 2</div>
          <div class="constant-body">constant 3</div>
          <div class="constant-body">constant 4</div>
          <div class="constant-body">constant 5</div>
        </div>
      </div>

      <div class="modal-footer">
        <div
          class="col-md-12 d-flex justify-content-between align-items-start w-100 mb-0"
        >
          <button
            data-bs-dismiss="modal"
            type="button"
            class="btn btn-lg delete-variable-button col-md-5 mb-0"
          >
            Back
          </button>

          <button
            data-bs-dismiss="modal"
            type="button"
            class="btn btn-lg save-variable-button col-md-5"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
