<div style="align-items: center; padding-left: 10px" class="d-flex">
  <img
    (click)="goBack()"
    style="width: 30px; height: 30px; cursor: pointer"
    src="../../../assets/icons/fi_chevron-left.svg"
    alt="arrow"
  />
  <label
    style="
      padding-left: 10px;
      color: rgba(0, 6, 31, 1);
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
    "
    class="mt-2"
    >New scenario keeping the calculation</label
  >
</div>

<div class="container-scenario">
  <div class="input-group">
    <label for="scenario-name">Name</label>
    <input
      class="input-formula"
      type="text"
      id="scenario-name"
      placeholder="(Name of scenario)"
      [(ngModel)]="scenarioName"
    />
  </div>

  <div class="slider-container">
    <div style="justify-content: space-between; width: auto" class="d-flex">
      <label for="num-employees">Núm. Empleados</label>
      <div class="d-flex amount-box">
        <label>{{ formatMonto(numEmployees) }}</label>
        <p style="margin-top: -9px; margin-bottom: -1px">
          ({{ getPercentageChange(numEmployees, 2) }}%)
        </p>
      </div>
    </div>

    <div class="slider-wrapper">
      <div class="slider-value"><span>2024:</span> {{ formatMonto(100) }}</div>
      <input
        type="range"
        id="num-employees"
        class="slider"
        min="1"
        max="200"
        [(ngModel)]="numEmployees"
        (input)="updateValues()"
      />
      <div class="slider-point"></div>
    </div>
  </div>

  <div class="slider-container">
    <div style="justify-content: space-between; width: auto" class="d-flex">
      <label for="salary-per-employee">Salario por empleado</label>
      <div class="d-flex amount-box">
        <label>{{
          salaryPerEmployee | currency : "USD" : "symbol" : "1.0-0"
        }}</label>
        <p style="margin-top: -9px; margin-bottom: -1px">
          ({{ getPercentageChange(salaryPerEmployee, 22000) }}%)
        </p>
      </div>
    </div>

    <div class="slider-wrapper">
      <div class="slider-value">
        <span>2024:</span>
        {{ formatMonto(100000) }}
      </div>
      <input
        type="range"
        id="salary-per-employee"
        class="slider"
        min="1"
        max="200000"
        [(ngModel)]="salaryPerEmployee"
        (input)="updateValues()"
      />
      <div class="slider-point"></div>
    </div>
  </div>

  <div class="slider-container">
    <div style="justify-content: space-between; width: auto" class="d-flex">
      <label for="sales">Ventas</label>
      <div class="d-flex amount-box">
        <label>{{ sales | currency : "USD" : "symbol" : "1.0-0" }}</label>
        <p style="margin-top: -9px; margin-bottom: -1px">
          ({{ getPercentageChange(sales, 130000) }}%)
        </p>
      </div>
    </div>

    <div class="slider-wrapper">
      <div class="slider-value">
        <span>2024:</span> {{ formatMonto(150000) }}
      </div>
      <input
        type="range"
        id="sales"
        class="slider"
        min="1"
        max="300000"
        [(ngModel)]="sales"
        (input)="updateValues()"
      />
      <div class="slider-point"></div>
    </div>
  </div>

  <div class="buttons">
    <button class="preview-button" (click)="previewImpact()">
      Preview impact
    </button>
    <button class="create-button" (click)="createScenario()">
      Create scenario
    </button>
  </div>
</div>

<div
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  class="d-flex justify-content-end gap-2 align-items-center mb-3"
>
  <div
    style="
      color: rgba(140, 100, 177, 1);
      cursor: pointer;
      font-size: 12px !important;
      font-weight: bolder;
    "
  >
    See more constants
  </div>
  <img
    style="cursor: pointer"
    src="../../../assets/icons/settings.svg"
    alt=""
  />
</div>

<table class="table-custom">
  <tr>
    <!-- <th rowspan="1">Inversión</th> -->
    <th
      style="
        background: white;
        border-top-color: white;
        border-left-color: white;
        color: white;
      "
      colspan="2"
    ></th>
    <th class="table-title" colspan="5">% Ocupación</th>
    <!--     <th
      style="
        color: rgba(140, 100, 177, 1);
        cursor: pointer;
        font-size: 12px !important;
      "
      colspan="1"
    >
      See more constants
    </th> -->
  </tr>
  <tr>
    <th rowspan="6">Inversion</th>
    <th></th>
    <th>60%</th>
    <th>65%</th>
    <th>70%</th>
    <th>75%</th>
    <th>80%</th>
  </tr>
  <tr>
    <td>$ 150</td>
    <td (click)="selectedTd()" style="padding: 0px">
      <div (click)="selectedDiv()" class="selected-td">$ 234,435,435.00</div>
    </td>
    <td>$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
    <td class="red">$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
  </tr>
  <tr>
    <td>$ 160</td>
    <td>$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
    <td class="red">$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
  </tr>
  <tr>
    <td>$ 170</td>
    <td>$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
    <td class="red">$ 234,435,435.00</td>
    <td class="red">$ 234,435,435.00</td>
  </tr>
  <tr>
    <td>$ 180</td>
    <td>$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
    <td class="red">$ 234,435,435.00</td>
    <td class="red">$ 234,435,435.00</td>
  </tr>
  <tr>
    <td>$ 190</td>
    <td>$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
    <td>$ 234,435,435.00</td>
    <td class="red">$ 234,435,435.00</td>
    <td class="red">$ 234,435,435.00</td>
  </tr>
</table>

<div class="vpn">
  <span>VPN:</span>
  <span>$ 235,000,000.00</span>
</div>

<div class="frequency-selector">
  <label for="frequency">Selector de frecuencia:</label>
  <input
    type="range"
    id="num-employees"
    class="slider"
    min="1"
    max="200"
    [(ngModel)]="numEmployees"
    (input)="updateValues()"
  />

  <div class="d-flex amount-box">
    <label>{{ formatMonto(numEmployees) }}</label>
    <p style="margin-top: -9px; margin-bottom: -1px">
      ({{ getPercentageChange(numEmployees, 2) }}%)
    </p>
  </div>
</div>

<div class="buttons mb-4">
  <button class="vpn-button" (click)="createScenario()">Create scenario</button>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="variableModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div style="height: 930px" class="modal-content">
      <div class="modal-header">
        <p
          class="modal-title"
          style="color: #00061f; font-weight: 700"
          id="variableModal"
        >
          Constants
        </p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div style="flex-wrap: nowrap !important" class="input-group mt-3">
          <span class="input-group-text">
            <img
              class="mr-2"
              src="../../../assets/icons/search.svg"
              alt="searc"
            />
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Search variable names or o levels"
            aria-label="search"
          />
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <app-message
            icon="../../../assets/icons/u_info-circle.svg"
            closeIcon="../../../assets/icons/fi_x.svg"
            content="Select at least two constants to view the simulation preview."
            color="#147D8F"
            background="#EFFBFD"
          ></app-message>
        </div>
        <div
          style="justify-content: space-between; gap: 12px"
          class="d-flex flex-wrap"
        >
          <div class="constant-body selected-constant">
            this Is A Very Long Constant Name For Testing Purposes
          </div>
          <div class="constant-body">constant 2</div>
          <div class="constant-body">constant 3</div>
          <div class="constant-body">constant 4</div>
          <div class="constant-body">constant 5</div>
        </div>
      </div>

      <div class="modal-footer">
        <div
          class="col-md-12 d-flex justify-content-between align-items-start w-100 mb-0"
        >
          <button
            data-bs-dismiss="modal"
            type="button"
            class="btn btn-lg delete-variable-button col-md-5 mb-0"
          >
            Back
          </button>

          <button
            data-bs-dismiss="modal"
            type="button"
            class="btn btn-lg save-variable-button col-md-5"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
