<div class="title-page mb-5">Simulation</div>

<div class="col-md-12">
  <div
    *ngFor="let simulation of simulations"
    class="card-container mr-5 mb-5"
    style="cursor: pointer"
    [class.card-container-active]="simulationId === simulation.id"
    (click)="selectSimulacion(simulation.id)"
  >
    <img class="card-image" [src]="simulation.simulation" />
    <div class="card-content">
      <div class="simulation-name">{{ simulation.name }}</div>
    </div>
  </div>
</div>
<div class="col-md-12 d-flex">
  <div style="position: relative" class="col-md-6">
    <div style="padding-bottom: 40px;">
      <canvas id="chart"></canvas>
    </div>

    <div style="max-height: fit-content" class="container-fluid mt-5">
      <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-start flex-wrap p-3 bg-light rounded"
      >
        <div
          class="text-dark font-weight-bold mb-3 mb-md-0"
          style="font-size: 14px"
        >
          Porcentajes:
        </div>
        <div
          class="text-dark font-weight-bold mb-3 mb-md-0"
          style="font-size: 14px"
        >
          Valores de pronóstico
        </div>
        <div
          *ngFor="let percentile of percentiles; let i = index"
          class="d-flex justify-content-between align-items-end flex-shrink-0"
          style="width: 100%; margin-bottom: 8px;"
        >
          <div class="text-dark mr-2" style="font-size: 14px">
            {{ percentile }}%
          </div>
          <div style="flex: 1; border-bottom: 1px #cbd4e1 dotted"></div>
          <div class="text-dark ml-2" style="font-size: 14px">
            €{{ values[i] | formateur }}
          </div>
        </div>
        <br>
        <br>
        <div class="text-end" style="width: 100%;">
        <button (click)="exportToCsv()" 
        class="btn simulate-button" style="background-color: #28a745; width: auto !important;"
        >Exportar datos a CSV</button>
        </div>
      </div>
    </div>

    <br />

  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div class="container">
      <div class="p-4 bg-light rounded" style="max-width: 400px">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="font-weight-bold">Editar variable</div>
          <div class="d-flex">
            <div
              (click)="createSimualtion()"
              class="ml-2"
              style="width: 30.67px; height: 27.67px; cursor: pointer"
            >
              <img
                style="width: 30.67px; height: 27.67px; cursor: pointer"
                src="../../../assets/icons/fi_plus.svg"
                alt=""
              />
            </div>
            <div
              (click)="editSimulationClick()"
              style="width: 20.67px; height: 20.67px; cursor: pointer"
            >
              <img
                style="width: 20.67px; height: 20.67px"
                [src]="
                  editSimulation
                    ? '../../../assets/icons/fi_x2.svg'
                    : '../../../assets/icons/fi_edit-3.svg'
                "
                alt=""
              />
            </div>
            <div
              (click)="resetData()"
              class="ml-2"
              style="width: 16.67px; height: 16.67px; cursor: pointer"
            >
              <img
                style="width: 16.67px; height: 16.67px; cursor: pointer"
                src="../../../assets/icons/back.png"
                alt=""
              />
            </div>
            <div
              (click)="elimateSimulation()"
              class="ml-2"
              style="width: 20.67px; height: 20.67px; cursor: pointer"
            >
              <img
                style="width: 20.67px; height: 20.67px"
                src="../../../assets/icons/u_trash-alt.svg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="d-flex flex-column mb-4">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex">
              <div class="text-dark">Variables utilizadas</div>
              <div class="text-dark ml-2">({{ getNumberOfActiveNodes() }})</div>
            </div>
            <div
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              class="see-more font-weight-bold"
            >
              Ver mas
            </div>
          </div>
          <!--           <div class="d-flex flex-wrap">
           
            <div class="flex-item">
              <div class="inner-box">
                <div class="content">Units</div>
              </div>
            </div>

            
            <div class="flex-item">
              <div class="inner-box">
                <div class="content">Units</div>
              </div>
            </div>

            
            <div class="flex-item">
              <div class="inner-box-active">
                <div class="content">Units</div>
              </div>
            </div>

            
            <div class="flex-item">
              <div class="inner-box">
                <div class="content">Units</div>
              </div>
            </div>

           
            <div class="flex-item">
              <div class="inner-box">
                <div class="content">Units</div>
              </div>
            </div>
          </div> -->
        </div>
        <hr class="my-4" />
        <div class="mb-4">
          <div class="text-muted">Nombre de la simulacion</div>
          <div class="font-weight-bold">
            <div *ngIf="!editSimulation">
              {{ simulateName }}
            </div>
            <div class="input-group" *ngIf="editSimulation">
              <input
                [(ngModel)]="simulateName"
                type="text"
                class="form-control input-formula mb-0 input-margin"
                placeholder="Nombre"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="mb-4">
          <div class="text-muted">Número de pasos simulados</div>
          <div class="font-weight-bold">
            <div *ngIf="!editSimulation">
              {{ simulationNumber }}
            </div>

            <div class="input-group" *ngIf="editSimulation">
              <input
                [(ngModel)]="simulationNumber"
                type="text"
                class="form-control input-formula mb-0 input-margin"
                placeholder="numero de simulacion"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="mb-4">
          <div class="text-muted">Descripción</div>
          <div class="font-weight-bold">
            <div *ngIf="!editSimulation">
              {{ simulateDescription }}
            </div>

            <div class="input-group" *ngIf="editSimulation">
              <textarea
                [(ngModel)]="simulateDescription"
                type="text"
                class="form-control input-formula mb-0 input-margin"
                style="height: 120px"
                placeholder="Descripcion"
                aria-describedby="basic-addon1"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <div class="text-muted">Selecciona el color de las barras</div>
          <div class="d-flex">
            <div
              *ngFor="let color of colorsOption"
              class="rounded-circle mr-2"
              [style.background-color]="'rgb(' + color + ')'"
              [class.colorBorder]="colorBar === color"
              (click)="selectColor(color, $event)"
              style="width: 30px; height: 30px"
            ></div>
          </div>
        </div>
        <div
          (click)="generateSimulation()"
          *ngIf="!editSimulation"
          class="btn simulate-button"
        >
          Simular
        </div>
        <div
          (click)="saveSimulationData()"
          *ngIf="editSimulation"
          class="btn simulate-button"
        >
          Guadar datos
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="variableModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="variableModal">Variables a utilizar</p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex">
            <div class="text-dark">Items to use variables</div>
            <div class="text-dark ml-2">({{ getNumberOfActiveNodes() }})</div>
          </div>
          <div class="see-more font-weight-bold" (click)="toggleSelectAll()">
            Seleccionar todo
          </div>
        </div>
        <div class="d-flex flex-wrap">
          <!-- Primer elemento -->
          <div
            class="flex-item-modal"
            *ngFor="let node of nodes"
            (click)="toggleActive(node)"
          >
            <div
              *ngIf="node.type == 1"
              [ngClass]="{
                'inner-box': true,
                'inner-box-active': node.isActive
              }"
            >
              <div class="content">{{ node.name }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div
          class="col-md-12 d-flex justify-content-between align-items-start w-100 mb-0"
        >
          <button
            data-bs-dismiss="modal"
            type="button"
            class="btn btn-lg delete-variable-button col-md-5 mb-0"
          >
            Volver
          </button>

          <button
            data-bs-dismiss="modal"
            type="button"
            class="btn btn-lg save-variable-button col-md-5"
          >
            Guardar cambios
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div style="margin-top: 200px" class="d-flex">
  <canvas id="chart"></canvas>
</div> -->
<!-- <ul id="percentiles"></ul> -->
