.title-page {
  color: #00061f;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  word-wrap: break-word;
}
//card//

.card-container {
  background: #f6f8fc;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.card-container-active {
  border: 3px solid #8c64b1;
  background: #f6f8fc;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.card-image {
  width: 190px;
  height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.simulation-name {
  color: #00061f;
  font-size: 14px;
  font-weight: 500;
  word-wrap: break-word;
}

//edit variable//
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  width: calc(33.33% - 22px);
  margin: 0 11px 14px;
}

.simulate-button {
  background-color: #000f55;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
  color: white;
  width: 100% !important;
}
.see-more {
  color: #8c64b1;
  cursor: pointer;
}
//modal//
.modal-title {
  font-weight: bold;
  font-size: large !important;
  color: #1f2d3d !important;
}

.delete-variable-button {
  border-color: rgb(199, 199, 199) !important;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
}
.save-variable-button {
  background-color: #000f55;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
  color: white;
}
/* .content {
  color: #00061f;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
}

.flex-item-modal {
  width: calc(25% - 22px);
  margin: 0 11px 14px;
}

.inner-box {
  width: 100%;
  height: 100%;
  padding: 7px 11px;
  background: #f6f8fc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  border: 1px #d1d5db solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
} */

.inner-box {
  padding: 7px 11px;
  background: #f6f8fc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  border: 1px #d1d5db solid;
  display: inline-block; /* Cambiado de inline-flex a inline-block */
}

.inner-box-active {
  padding: 7px 11px;
  background: #f6f8fc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  border: 1px #d1d5db solid;
  display: inline-block; /* Cambiado de inline-flex a inline-block */
  box-shadow: 0px 0px 4px rgba(140, 100, 177, 0.5);
  border: 1px #8c64b1 solid;
}

.colorBorder {
  border-radius: 10px;

  border: 1px #000f55 solid;
}

.flex-item-modal {
  margin: 0 4px 4px;
}

.content {
  color: #00061f;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
/* .inner-box-active {
  width: 100%;
  height: 100%;
  padding: 7px 11px;
  background: #f6f8fc;
  box-shadow: 0px 0px 4px rgba(140, 100, 177, 0.5);
  border-radius: 10px;
  overflow: hidden;
  border: 3px #8c64b1 solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
} */
