<div
  *ngIf="showMessage"
  class="d-flex justify-content-between align-items-center p-3 rounded"
  style="width: 100%; border-radius: 25px !important"
  [style.background]="background"
>
  <div class="d-flex align-items-center gap-2">
    <div
      style="
        width: 20px;
        height: 20px;

        position: relative;
      "
    >
      <img [src]="icon" alt="" />
    </div>
    <div
      style="font-size: 14px; font-weight: 400; word-wrap: break-word"
      [style.color]="color"
    >
      {{ content }}
    </div>
  </div>
  <div style="width: 18px; height: 18px; position: relative">
    <div
      style="
        width: 9px;
        height: 9px;
        left: 4.5px;
        top: 4.5px;
        position: absolute;
      "
    ></div>
    <img style="cursor: pointer" (click)="show()" [src]="closeIcon" alt="" />
  </div>
</div>
