.modal-title {
  font-weight: bold;
  font-size: large !important;
}
#myChart {
  width: 100% !important;
}
.font {
  font-weight: 500;
}
.input-formula {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-left: -10px !important;
  background-color: #f6f3f9;
}

.input-formula-variable {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  background-color: #f6f3f9;
}
p {
  font-weight: bold;
  color: #00061f;
}
.delete-variable-button {
  border-color: rgb(199, 199, 199) !important;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
}
.save-variable-button {
  background-color: #000f55;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
  color: white;
}
.asterisk {
  height: 15px;
  width: 15px;
}
.type {
  justify-content: space-around;
  width: 50% !important;
  align-self: center;
}
.form-check-input:checked {
  background-color: #8c64b1 !important;
  border-color: #8c64b1 !important;
}
.hide {
  display: none;
}
.option-type {
  height: 15px;
  width: 15px;
  color: #000f55;
}
.variable-box {
  width: 100%; /* Puedes ajustar el tamaño según tus necesidades */
  /* max-height: auto; */
  border-radius: 10px; /* Establece el redondeo de las esquinas */
  border: 2px solid rgb(199, 199, 199); /* Color y grosor del borde */
  padding: 20px; /* Espaciado interno del contenido con respecto al borde */
  overflow: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado grande */
  height: 100px; /* Altura inicial */
  min-height: 150px; /* Altura mínima */
}
.calculo-box {
  width: 100%; /* Puedes ajustar el tamaño según tus necesidades */
  /* max-height: auto; */
  border-radius: 10px; /* Establece el redondeo de las esquinas */
  border: 2px solid rgb(199, 199, 199); /* Color y grosor del borde */
  padding: 20px; /* Espaciado interno del contenido con respecto al borde */
  overflow: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado grande */

  min-height: 40px; /* Altura mínima */
  align-items: center;
}
.operation-varible {
  border: 1px solid #000f55;
  border-radius: 17px;
  position: relative;
}
.close-icon {
  position: absolute;
  top: 1px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #000f55;
  z-index: 1;
  color: #fff;
  border-radius: 30px;
}
.chart-inputs {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  /*   border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; */
}

.chart-span {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #000f55;
  font-weight: bold !important;
  background-color: white !important;
}
input-group-sm > .btn,
.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text {
  padding: 0.2rem 0.3rem;
  font-size: 0.875rem;
}
.modal-dialog {
  height: 850px;
}
