<!-- Button trigger modal -->
<button
  id="exampleModalButton"
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  style="display: none"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  #exampleModal
  class="modal fade modal-font-color"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-scrollable" [ngClass]="constante!==true ? 'modal-lg' : ''">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">
          {{ editVariable ? "Editar variable " : "Crear variable" }}
        </p>
        <button
          (click)="deleteShapeData()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div (click)="verifyType()" class="d-flex type mt-4">
        <div>
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="constante"
            [value]="true"
            [(ngModel)]="constante"
          />
          <label class="form-check-label" for="constante"> Constante </label>
        </div>
        <div>
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="variable"
            [(ngModel)]="constante"
            [value]="false"
          />
          <label class="form-check-label" for="variable"> Variable </label>
        </div>
      </div>

      <div class="modal-body">
        <div
          class="mt-4 d-flex justify-content-between align-items-start w-100"
        >
          <p class="mb-0">Nombre de la variable (*)</p>
        </div>

        <div class="col-md-11">
          <div class="input-group">
            <input
              [(ngModel)]="variableName"
              (click)="editVariableAll()"
              type="text"
              class="form-control input-formula mb-0 input-margin"
              placeholder="Nombre"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>

        <div
          class="mt-4 d-flex justify-content-between align-items-start w-100"
        >
          <p class="mb-0">Descripcion</p>
        </div>
        <div
          class="mt-3 d-flex justify-content-between align-items-start w-100"
        >
          <p
            *ngIf="!editVariableDescription"
            class="mb-2"
            style="width: 95% !important"
          >
            {{ variableDescription }}
          </p>
          <div *ngIf="editVariableDescription" class="col-md-11">
            <div class="input-group">
              <textarea
                [(ngModel)]="variableDescription"
                type="text"
                class="form-control input-formula mb-0 input-margin"
                style="height: 120px"
                placeholder="Descripcion"
                aria-describedby="basic-addon1"
              ></textarea>
            </div>
          </div>
          <img
            (click)="editVariableDescriptionClick()"
            class="user-icon"
            [src]="
              editVariableDescription
                ? '../../../assets/icons/fi_x2.svg'
                : '../../../assets/icons/fi_edit-3.svg'
            "
            alt="User Icon"
          />
        </div>
        <div [class]="constante ? 'hide' : ''">
          <div
            class="mt-4 d-flex justify-content-between align-items-start w-100"
          >
            <p class="mb-0">Agregar variable</p>
          </div>

          <div class="variable-box d-flex flex-wrap">
            <div *ngFor="let variable of variables">
              <div
                style="cursor: pointer"
                class="mr-4"
                (click)="addVariable(variable, variable.id)"
                *ngIf="editVariable ? variable.id !== +nodeId : true"
              >
                <img
                  class="user-icon"
                  src="../../../assets/icons/database.svg"
                  alt="User Icon"
                />
                {{ variable.name }}
              </div>
            </div>
          </div>
        </div>

        <div [class]="constante ? 'hide' : ''">
          <div
            class="mt-4 d-flex justify-content-between align-items-start w-100"
          >
            <p class="mb-0">Agregar operadores</p>
          </div>

          <div class="variable-box d-flex flex-wrap">
            <div
              *ngFor="let operator of operators"
              style="cursor: pointer; padding: 20px"
              (click)="addCalculo(operator)"
            >
              <img
                class="user-icon"
                src="../../../assets/icons/database.svg"
                alt="User Icon"
              />
              {{ operator }}
            </div>
          </div>
        </div>
        <div [class]="constante ? 'hide' : ''">
          <div
            class="mt-4 d-flex justify-content-between align-items-start w-100"
          >
            <p class="mb-0">Calculo</p>
          </div>

          <div class="calculo-box d-flex flex-wrap">
            <div
              *ngFor="let calculo of calculos; let i = index"
              style="cursor: pointer"
              class="mr-4 mb-3 p-2 operation-varible"
              (mouseover)="seleccionarCalculo(calculo)"
              (mouseout)="deseleccionarCalculo()"
              (click)="eliminatedOperation(i)"
            >
              <img
                class="user-icon"
                src="../../../assets/icons/database.svg"
                alt="User Icon"
              />
              {{ calculo }}

              <!--           <a
                (mouseover)="seleccionarCalculo(calculo)"
                (mouseout)="deseleccionarCalculo()"
                (click)="eliminatedOperation(i)"
                *ngIf="calculo === selectedCalculo"
                class="close-icon"
                id="close-icon"
                href="javascript:void(0)"
              >
                X
              </a> -->
            </div>
          </div>

          <!--           <div *ngIf="calculos.length > 0" class="d-flex">
            <div class="mr-5" *ngFor="let escenario of showNewEscenario">
              {{ escenario.name }}
              <div *ngFor="let year of escenario.years | keyvalue">
                {{ year.key }}: {{ year.value }}
              </div>
            </div>
          </div> -->
        </div>

        <div [class]="constante ? '' : 'hide'">
          <div>
            <p class="mt-3">Editar Valores</p>
            <div
              class="d-flex justify-content-between align-items-start w-100 mb-3"
            >
              <div class="col-md-11">
                <div class="input-group">
                  <input
                    [(ngModel)]="variableUnidad"
                    type="text"
                    class="form-control input-formula mb-0 input-margin"
                    placeholder="Unidades"
                    aria-describedby="basic-addon1"
                    onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace'"
                    (change)="saveNewValue()"
                  />
                </div>
              </div>
              <img
                data-bs-toggle="modal"
                data-bs-target="#uniteModal"
                class="user-icon"
                [src]="'../../../assets/icons/fi_edit-3.svg'"
                alt="User Icon"
              />
            </div>
          </div>

          <div
            class="d-flex justify-content-between align-items-start w-100 mb-3"
            [class]="constante ? '' : 'mt-4'"
          >
            <div [class]="constante ? 'col-md-11' : 'w-100'">
              <div class="input-group">
                <input
                  data-bs-toggle="modal"
                  data-bs-target="#shapeModal"
                  type="text"
                  class="form-control mb-0 input-margin"
                  [class]="
                    constante ? 'input-formula' : 'input-formula-variable'
                  "
                  placeholder="Distribution shape"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
          </div>
          <div>
            <canvas id="myChart"></canvas>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Normal'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min">Mean:</span>
                <input
                  disabled
                  [(ngModel)]="mean"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min">StDev:</span>
                <input
                  disabled
                  [(ngModel)]="stDev"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'SyntaxError'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min">Mean:</span>
                <input
                  disabled
                  [(ngModel)]="mean"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min">StDev:</span>
                <input
                  disabled
                  [(ngModel)]="stDev"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Uniforme'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min">Min:</span>
                <input
                  disabled
                  [(ngModel)]="min"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="max">Max:</span>
                <input
                  disabled
                  [(ngModel)]="max"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="max"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Exponencial'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min">Rate:</span>
                <input
                  disabled
                  [(ngModel)]="rate"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="rate"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div
          class="col-md-12 d-flex justify-content-between align-items-start w-100 mb-0"
        >
          <button
            (click)="elimateNode()"
            *ngIf="editVariable"
            type="button"
            class="btn btn-lg delete-variable-button col-md-5 mb-0"
            data-bs-dismiss="modal"
          >
            Eliminar variable
          </button>

          <button
            (click)="submit()"
            type="button"
            class="btn btn-lg save-variable-button col-md-5"
            data-bs-dismiss="modal"
          >
            Guardar cambios
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
