.modal-title {
  font-weight: bold;
  font-size: large !important;
}

.font {
  font-weight: 500;
}
.input-formula {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #f6f3f9;
}
p {
  font-weight: bold;
  color: #00061f;
}
.delete-variable-button {
  border-color: rgb(199, 199, 199) !important;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
}
.save-variable-button {
  background-color: #000f55;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
  color: white;
}
.asterisk {
  height: 15px;
  width: 15px;
}
