<!-- Button trigger modal -->
<button
  id="exampleModalButton"
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  style="display: none"
></button>

<!-- Modal -->
<div
  #exampleModal
  class="modal fade modal-font-color"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div *ngIf="cargando" class="spinner-container">
        <div class="spinner"></div>
      </div>
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">
          {{ editVariable ? "Edit variable " : "Create variable" }}
        </p>
        <button
          (click)="deleteShapeData()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!--       <div (click)="verifyType()" class="d-flex type mt-4">
        <div>
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="constante"
            [value]="true"
            [(ngModel)]="constante"
          />
          <label class="form-check-label" for="constante"> Constant </label>
        </div>
        <div>
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="variable"
            [(ngModel)]="constante"
            [value]="false"
          />
          <label class="form-check-label" for="variable"> Variable </label>
        </div>
      </div> -->

      <div class="modal-body">
        <div class="switch-container">
          <div
            class="switch-option"
            [class.active]="constante"
            (click)="toggleSwitch(true)"
          >
            <p>Constante</p>
          </div>
          <div
            class="switch-option"
            [class.active]="!constante"
            (click)="toggleSwitch(false)"
          >
            <p>Variable</p>
          </div>
        </div>
        <div
          class="mt-4 d-flex justify-content-between align-items-start w-100"
        >
          <p class="mb-0">Variable name (*)</p>
        </div>

        <div class="">
          <div class="input-group">
            <!--             <input
              [(ngModel)]="variableName"
              (click)="editVariableAll()"
              type="text"
              class="form-control input-formula mb-0 input-margin"
              placeholder="Nombre"
              aria-describedby="basic-addon1"
            /> -->
            <p
              #editableConstante
              [attr.contenteditable]="true"
              class="mb-2 editable w-100 mt-3"
              style="width: 95% !important"
              (input)="onInputChange($event, 'variable')"
            >
              {{ variableName }}
            </p>
          </div>
        </div>

        <div
          class="mt-4 d-flex justify-content-between align-items-start w-100"
        >
          <p class="mb-0">Description</p>
        </div>
        <div
          class="mt-3 d-flex justify-content-between align-items-start w-100"
        >
          <p
            #editableContent
            [attr.contenteditable]="true"
            class="mb-2 editable"
            style="width: 95% !important"
            (input)="onInputChange($event, 'descripcion')"
          >
            {{ variableDescription }}
          </p>
          <div *ngIf="editVariableDescription" class="col-md-11">
            <div class="input-group">
              <textarea
                [(ngModel)]="variableDescription"
                type="text"
                class="form-control input-formula mb-0 input-margin"
                style="height: 120px"
                placeholder="Descripcion"
                aria-describedby="basic-addon1"
              ></textarea>
            </div>
          </div>
          <!--           <img
            (click)="editVariableDescriptionClick()"
            class="user-icon"
            [src]="
              editVariableDescription
                ? '../../../assets/icons/fi_x2.svg'
                : '../../../assets/icons/fi_edit-3.svg'
            "
            alt="User Icon"
          /> -->
        </div>
        <div [class]="constante ? 'hide' : ''">
          <div
            class="mt-4 d-flex justify-content-between align-items-start w-100"
          >
            <p class="mb-0">Add variable</p>
          </div>

          <div class="variable-box d-flex flex-wrap">
            <div *ngFor="let variable of variables">
              <div
                class="mr-1 mb-2 p-1"
                [ngClass]="{
                  'operation-varible2': true,
                  'operation-varible': nodeInCalculo(variable.id)
                }"
                (click)="addVariable(variable, variable.id)"
                *ngIf="editVariable ? variable.id !== +nodeId : true"
              >
                <img
                  class="user-icon"
                  src="../../../assets/icons/database.svg"
                  alt="User Icon"
                />
                <label style="margin-top: 2px; margin-bottom: -1px">
                  {{ variable.name }}
                </label>
              </div>
            </div>
          </div>
        </div>

        <div [class]="constante ? 'hide' : ''">
          <div
            class="mt-4 d-flex justify-content-between align-items-start w-100"
          >
            <p class="mb-0">Add operators</p>
          </div>

          <div class="operator-box d-flex flex-wrap">
            <div
              (click)="togglePopover()"
              style="
                cursor: pointer;
                border-radius: 10px;
                background-color: rgba(195, 206, 255, 1);
                height: 35px;
                width: auto;
                font-size: 15px;
                padding: 0px 5px 10px 5px;
                font-weight: bolder;
                color: rgba(0, 15, 85, 1);
              "
              class="mr-1 p-1"
            >
              <img
                style="width: 24px; height: 24px"
                class="user-icon mr-2"
                src="../../../assets/icons/icon.svg"
                alt="User Icon"
              />
              <label class="mr-1"> custom </label>
            </div>
            <div *ngIf="mostrarPopover" class="popover" #popover>
              <input
                style="
                  font-size: 20px;
                  cursor: pointer;
                  border-radius: 10px;
                  background-color: rgba(195, 206, 255, 1);
                  gap: 4px;
                "
                onkeydown="return /[^a-zA-Z]/.test(event.key) || event.key === 'Backspace' || event.key === 'Tab'"
                type="text"
                [(ngModel)]="inputValue"
                autofocus
              />
              <button (click)="addCustom()">Save</button>
            </div>
            <div
              *ngFor="let operator of operators_icon"
              class="mr-1 mb-2"
              [ngClass]="{
                'operation-varible2': true,
                'operation-varible': nodeInCalculo(operator.operator)
              }"
              (click)="addCalculo(operator)"
            >
              <div style="display: flex; align-items: center; height: 30px">
                <img
                  class="user-icon ml-1"
                  style="width: 24px; height: 24px; margin-right: 5px"
                  src="../../../assets/icons/icon.svg"
                  alt=""
                />
                <!--               <span style="font-size: 20px; font-family: monospace; line-height: 20px; display: flex; align-items: center; height: 100%;">
                {{ operator.operator }}
              </span> -->
                <img
                  *ngIf="operator.img != ''"
                  class="user-icon"
                  style="width: 24px; height: 24px; margin-right: 5px"
                  [src]="operator.img"
                  [alt]="operator.operator"
                />
                <label class="mt-2" *ngIf="operator.img == ''" for="">
                  {{ operator.operator }}</label
                >
              </div>
            </div>
          </div>
        </div>
        <div [class]="constante ? 'hide' : ''">
          <div
            class="mt-4 d-flex justify-content-between align-items-start w-100"
          >
            <p class="mb-0">Calculation</p>
          </div>

          <div class="calculo-box d-flex flex-wrap">
            <div
              *ngFor="let calculo of calculos; let i = index"
              style="cursor: pointer"
              class="mr-2 mt-1 mb-1 p-1 operation-varible"
              (mouseover)="seleccionarCalculo(calculo)"
              (mouseout)="deseleccionarCalculo()"
              (click)="eliminatedOperation(i)"
            >
              <div *ngIf="!calculo.operator">
                <img
                  class="user-icon"
                  src="../../../assets/icons/database.svg"
                  alt="User Icon"
                />
                {{ calculo.name }}
              </div>

              <div *ngIf="calculo.operator">
                <img
                  class="user-icon"
                  style="width: 24px; height: 24px; margin-right: 5px"
                  src="../../../assets/icons/icon.svg"
                  alt="User Icon"
                />
                <img
                  *ngIf="calculo.img != '' && calculo.img != null"
                  class="user-icon"
                  style="width: 24px; height: 24px; margin-right: 5px"
                  [src]="calculo.img"
                  alt="User Icon"
                />
                <label *ngIf="calculo.img == '' || calculo.img == null" for="">
                  {{ calculo.name }}</label
                >
              </div>
            </div>
          </div>

          <!--           <div *ngIf="calculos.length > 0" class="d-flex">
            <div class="mr-5" *ngFor="let escenario of showNewEscenario">
              {{ escenario.name }}
              <div *ngFor="let year of escenario.years | keyvalue">
                {{ year.key }}: {{ year.value }}
              </div>
            </div>
          </div> -->
        </div>

        <div [class]="constante ? '' : 'hide'">
          <p class="mt-3">Edit Values</p>
          <div class="d-flex" style="justify-content: space-between">
            <div>
              <div
                class="d-flex justify-content-between align-items-start w-100 mb-3"
              >
                <!--                 <div class="col-md-11">
                  <div class="input-group">
                    <input
                      style="width: 240px"
                      [(ngModel)]="variableUnidad"
                      type="text"
                      class="form-control input-formula mb-0 input-margin"
                      placeholder="Unidades"
                      aria-describedby="basic-addon1"
                      onkeydown="return /[0-9%.\-]/.test(event.key) || event.key === 'Backspace'"
                      (change)="saveNewValue()"
                    />
                  </div>
                </div> -->
                <div class="input-group mb-3">
                  <span
                    style="background-color: rgba(207, 242, 248, 1) !important"
                    class="input-group-text chart-span"
                    id="min"
                  >
                    {{ defaultYear + " " + ":" }}
                  </span>

                  <input
                    style="
                      background-color: rgba(207, 242, 248, 1) !important;
                      height: 39px;
                      border-left: none;
                      color: #000f55;
                    "
                    [(ngModel)]="variableUnidad"
                    onkeydown="return /[0-9%.\-]/.test(event.key) || event.key === 'Backspace'"
                    (change)="saveNewValue()"
                    (ngModelChange)="changePercentage()"
                    aria-describedby="basic-addon1"
                    type="text"
                    class="form-control chart-inputs"
                    aria-describedby="min"
                  />
                </div>
              </div>
            </div>
            <div class="d-flex" style="justify-content: space-between">
              <label
                (click)="setEvent()"
                style="
                  width: 123px;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 17.5px;
                  color: rgba(0, 15, 85, 1);
                  margin-top: 11px;
                  margin-left: 10px;
                  cursor: pointer;
                  margin-right: -10px;
                "
              >
                Ver todos los años
              </label>
            </div>
          </div>

          <div>
            <div
              class="d-flex mt-4"
              style="justify-content: space-between; height: 36px"
            >
              <label>Distribution shape</label>
              <img
                data-bs-toggle="modal"
                data-bs-target="#shapeModal"
                style="height: 20px; width: 20px"
                class="user-icon"
                [src]="'../../../assets/icons/fi_edit-3.svg'"
                alt="User Icon"
              />
            </div>
            <canvas id="myChart"></canvas>

            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Normal'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="stDev"
                  >Mean:</span
                >
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="mean"
                  (ngModelChange)="changeValueNormal()"
                  name="mean"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="mean"
                />
              </div>
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="stDev"
                  >StDev:</span
                >
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="stDev"
                  (ngModelChange)="changeValueNormal()"
                  name="stDev"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="stDev"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Poisson'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min">Rate:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="lamda"
                  (ngModelChange)="changeValuePoisson()"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Binominal'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min"
                  >Probability:</span
                >
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key ==='Tab'"
                  [(ngModel)]="probability"
                  (ngModelChange)="changeValueBinomial()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>

              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min"
                  >Trials:</span
                >
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key === 'Tab'"
                  [(ngModel)]="trials"
                  (ngModelChange)="changeValueBinomial()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Triangular'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min">Min:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="min"
                  (ngModelChange)="changeValueTriangular()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>

              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="mode">Mode:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="mode"
                  (ngModelChange)="changeValueTriangular()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="mode"
                />
              </div>

              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min">Max:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key =='Tab'"
                  [(ngModel)]="max"
                  (ngModelChange)="changeValueTriangular()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'SyntaxError'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min">Mean:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="mean"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min">StDev:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="stDev"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Geometric'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min"
                  >Probability:</span
                >
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key === 'Tab'"
                  [(ngModel)]="probability"
                  (ngModelChange)="changeValueGeometrica()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Uniforme'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min">Min:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="min"
                  (ngModelChange)="changeValueUniforme()"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="max">Max:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="max"
                  (ngModelChange)="changeValueUniforme()"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="max"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Weibull'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min">Forma:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key === 'Tab'"
                  [(ngModel)]="form"
                  (ngModelChange)="changeValueWeibull()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>

              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min"
                  >Escala:</span
                >
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key === 'Tab'"
                  [(ngModel)]="scale"
                  (ngModelChange)="changeValueWeibull()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Beta'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min">Alpha:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key === 'Tab'"
                  [(ngModel)]="alpha"
                  (ngModelChange)="changeValueBeta()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>

              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min">Beta:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key === 'Tab'"
                  [(ngModel)]="beta"
                  (ngModelChange)="changeValueBeta()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
            </div>

            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Lognormal'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min">Mean:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key === 'Tab'"
                  [(ngModel)]="mean"
                  (ngModelChange)="changeValueLognormal()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>

              <div class="input-group col-md-4 input-group-sm">
                <span class="input-group-text chart-span" id="min">stDev:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key === 'Tab'"
                  [(ngModel)]="stDev"
                  (ngModelChange)="changeValueLognormal()"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Hypergeometric'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="min"
                  >Success:</span
                >
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="success"
                  (ngModelChange)="changeValueHypergeometric()"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="min"
                />
              </div>
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="max"
                  >Muestra:</span
                >
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="trials"
                  (ngModelChange)="changeValueHypergeometric()"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="max"
                />
              </div>
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="max"
                  >Poblacion:</span
                >
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="population"
                  (ngModelChange)="changeValueHypergeometric()"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="max"
                />
              </div>
            </div>
            <div
              *ngIf="shapeData?.__zone_symbol__value.name == 'Exponencial'"
              class="col-md-12 d-flex mt-4"
            >
              <div class="input-group col-md-4 input-group-sm mb-3">
                <span class="input-group-text chart-span" id="rate">Rate:</span>
                <input
                  onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key == 'Tab'"
                  [(ngModel)]="rate"
                  (ngModelChange)="changeValueExponential()"
                  name="rate"
                  style="background-color: #f6f3f9"
                  type="text"
                  class="form-control chart-inputs"
                  aria-describedby="rate"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div
          class="col-md-12 d-flex justify-content-between align-items-start w-100 mb-0"
        >
          <button
            (click)="elimateNode()"
            *ngIf="editVariable"
            type="button"
            class="btn btn-lg delete-variable-button col-md-5 mb-0"
            data-bs-dismiss="modal"
          >
            Delete variable
          </button>

          <button
            (click)="submit()"
            type="button"
            class="btn btn-lg save-variable-button col-md-5"
            data-bs-dismiss="modal"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<button
  id="uniteModalButton"
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#uniteModal"
  style="display: none"
></button>
