.modal-title {
  font-weight: bold;
  font-size: large !important;
}
#myChart {
  width: 100% !important;
}
.font {
  font-weight: 500;
}
.input-formula {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-left: -10px !important;
  background-color: #f6f3f9;
}

.input-formula-variable {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  background-color: #f6f3f9;
}
p {
  font-weight: bold;
  color: #00061f;
}
.delete-variable-button {
  border-color: rgb(199, 199, 199) !important;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
}
.save-variable-button {
  background-color: #000f55;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
  color: white;
}
.asterisk {
  height: 15px;
  width: 15px;
}
.type {
  justify-content: space-around;
  width: 50% !important;
  align-self: center;
}
.form-check-input:checked {
  background-color: #8c64b1 !important;
  border-color: #8c64b1 !important;
}
.hide {
  display: none;
}
.option-type {
  height: 15px;
  width: 15px;
  color: #000f55;
}
.variable-box {
  width: 100%; /* Puedes ajustar el tamaño según tus necesidades */
  /* max-height: auto; */
  border-radius: 10px; /* Establece el redondeo de las esquinas */
  border: 2px solid rgb(199, 199, 199); /* Color y grosor del borde */
  padding: 20px; /* Espaciado interno del contenido con respecto al borde */
  overflow: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado grande */
  height: 200px;
}

.operator-box {
  width: 100%; /* Puedes ajustar el tamaño según tus necesidades */
  /* max-height: auto; */
  border-radius: 10px; /* Establece el redondeo de las esquinas */
  border: 2px solid rgb(199, 199, 199); /* Color y grosor del borde */
  padding: 20px; /* Espaciado interno del contenido con respecto al borde */
  overflow: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado grande */
  height: 150px; /* Altura inicial */
  min-height: 110px; /* Altura mínima */
}
.calculo-box {
  width: 100%; /* Puedes ajustar el tamaño según tus necesidades */
  /* max-height: auto; */
  border-radius: 10px; /* Establece el redondeo de las esquinas */
  border: 2px solid rgb(199, 199, 199); /* Color y grosor del borde */
  padding: 20px; /* Espaciado interno del contenido con respecto al borde */
  overflow: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado grande */

  min-height: 40px; /* Altura mínima */
  align-items: center;
}
.operation-varible {
  border: 3px solid #000f55 !important;
  border-radius: 10px;
  position: relative;
  background-color: rgba(195, 206, 255, 1);
  color: rgba(0, 15, 85, 1);
  font-weight: bold;
}

.operation-varible2 {
  border: 3px solid rgba(195, 206, 255, 1);
  border-radius: 10px;
  position: relative;
  background-color: rgba(195, 206, 255, 1);
  color: rgba(0, 15, 85, 1);
  font-weight: bold;
}
.close-icon {
  position: absolute;
  top: 1px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #000f55;
  z-index: 1;
  color: #fff;
  border-radius: 30px;
}
.chart-inputs {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  /*   border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; */
}

.chart-span {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #000f55;
  font-weight: bold !important;
  background-color: white !important;
}
input-group-sm > .btn,
.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text {
  padding: 0.2rem 0.3rem;
  font-size: 0.875rem;
}
.modal-dialog {
  height: 850px;
}
.popover {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000; /* Asegura que el popover esté sobre otros elementos */
  top: auto; /* Ajusta la posición del popover */
  left: calc(15% + 10px); /* Posición a la derecha del botón */
  min-width: 150px; /* Ancho mínimo para el popover */
}

.popover input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popover button {
  padding: 8px 16px;
  background-color: #000f55;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popover button:hover {
  background-color: #000f55;
}

.spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #51bfc4;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.switch-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 16px;
  overflow: hidden;
  padding: 6px;
  user-select: none;
  height: 44px;
}
.switch-option {
  flex: 1;

  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.switch-option.active {
  background-color: rgba(229, 220, 237, 1);

  border-radius: 10px;
  p {
    color: rgba(56, 37, 74, 1);
    margin-top: 3px;
  }
}
.switch-option:not(.active) {
  /*  background-color: #f1f1f1; */

  background-color: white;

  border-radius: 10px;
  p {
    color: rgba(100, 116, 139, 1);
    margin-top: 3px;
  }
}

input.chart-inputs:focus {
  outline: none !important;
  border-color: #ced4da !important;
}
.modal-footer {
  height: 100px !important;
}

[contenteditable="true"]:focus {
  outline: none;
  border: none;
}
