.modal-title {
  font-weight: bold;
  font-size: large !important;
}

.font {
  font-weight: 500;
}
.input-formula {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #f6f3f9;
}
p {
  font-weight: bold;
  color: #00061f;
}
.delete-variable-button {
  border-color: rgb(199, 199, 199) !important;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
}
.save-variable-button {
  background-color: #000f55;
  font-weight: bold;
  border-radius: 25px;
  font-size: medium;
  color: white;
}
.asterisk {
  height: 15px;
  width: 15px;
}
.type {
  justify-content: space-around;
  width: 50% !important;
  align-self: center;
}
.form-check-input:checked {
  background-color: #8c64b1 !important;
  border-color: #8c64b1 !important;
}
.hide {
  display: none;
}
.option-type {
  height: 15px;
  width: 15px;
  color: #000f55;
}
.create-button {
  background-color: #8c64b1 !important;
  color: white !important;
  border-radius: 20px !important;
  height: 60px !important;
  font-weight: bold !important;
}
.unite-button {
  padding: 1px 7px;
  background: white;
  box-shadow: 0 1px 2px #0000000d;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  border: 1px #d1d5db solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: #00061f !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.create-project-button {
  display: flex;
  background-color: rgba(0, 15, 85, 1); 
  width: 34px; height: 34px; 
  padding: 4px; 
  border-radius: 35px; 
  gap: 10px; 
  cursor: pointer;
}

.create-project-modal {
  width: 680px;
 /*  height: 799px; */
 height: auto;
  border-radius: 30px;
}
.modal-header {
  align-items: center;
  padding: 25px;
}

.modal-title {
  font-size: 20px !important;
} 

/* .colorBorder {
  border-radius: 10px;

  border: 1px rgba(140, 100, 177, 1) solid;
}
 */

 .colorBorder {
  box-shadow: 0 0 0 3px #000f55 ; /* Cambia #000 por el color del borde que desees */
}

.color-circle {
  width: 30px;
  height: 30px;
  position: relative;
}
.input-group {
  display: flex;
  align-items: center;
  width: 300px; /* Ajusta el ancho del grupo de input */
}



.input-group-append {
  height: 37.99px;
/*   margin-left: 5px;
  border-top-right-radius: 25px !important ; */
}

.text-danger {
  color: red;
  margin-top: 5px;
}

.input-group-text {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}