.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f3ff;
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  transform: translateY(-10%); /* Desplaza un poco hacia arriba */
}
.login-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  margin-top: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000f55;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1e2a63; /* Color para el botón cuando el usuario pasa el mouse por encima */
}
.login-logo-container {
  position: absolute;
  top: -40px; /* Ajusta este valor para colocar el logo justo en el borde superior */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  padding: 10px; /* Añade espacio alrededor del logo */
  display: inline-block;
}

.login-logo {
  width: 60px; /* Ajusta el tamaño del logo */
  height: 40px;
  display: block;
  margin-top: 10px;
}

.register-link label {
  color: #000f55;
  cursor: pointer;
}

.register-link label:hover {
  color: #1e2a63;
}
.error-color {
  color: red;
}
