.unite-button {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  overflow: hidden;
  border: 1px #d1d5db solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: #00061f !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}
.input-formula {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #f6f3f9;
}
.unite-button-calculate {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  overflow: hidden;
  background-color: #000f55;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: white !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}
.smoth {
  color: #1f363d;

  font-weight: 500;
}
.color-theme {
  color: #000f55;
}
.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.canvas-style {
  display: block;
  overflow: hidden;
  height: 450px !important;
}
input.input-formula:focus {
  outline: none !important;
  border-color: #ced4da !important;
  /*   background-color: rgba(207, 242, 248, 1) !important; */
}
.create-scenario-button {
  display: flex;
  background-color: rgba(0, 15, 85, 1);
  width: 34px;
  height: 34px;
  padding: 4px;
  border-radius: 35px;
  gap: 10px;
  cursor: pointer;
}
