<!-- Modal -->
<div
  #uniteModal
  class="modal fade"
  id="uniteModal"
  tabindex="-1"
  aria-labelledby="uniteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-12 d-flex">
          <!--           <div class="col md-2">
            Segmento
            <input
              type="text"
              class="form-control input-formula"
              placeholder="Segmento"
              aria-describedby="basic-addon1"
            />
          </div> -->
          <div class="col md-3">
            Escenarios
            <select
              [disabled]="showForm"
              [(ngModel)]="selectedEscenary"
              class="form-select input-formula"
              (change)="onSelectChange()"
            >
              <option selected value="#"></option>
              <option
                *ngFor="let escenary of escenarys; let i = index"
                [value]="i"
              >
                {{ escenary.name }}
              </option>

              <!--                 <input
                  type="text"
                  class="form-control input-formula"
                  placeholder="(Name of scenario)"
                  aria-describedby="basic-addon1"
                /> -->
            </select>
          </div>
          <div style="display: none" class="col md-3">
            <button
              style="margin-top: 22px; margin-right: 10px"
              class="unite-button"
            >
              Reset
            </button>
            <button style="margin-top: 22px" class="unite-button">
              Export to Excel
            </button>
          </div>
          <div *ngIf="edit" class="col-md-1">
            <button
              (click)="addEscenary()"
              style="margin-top: 20px"
              class="unite-button"
            >
              <img
                [src]="
                  showForm
                    ? '../../../assets/icons/minus.svg'
                    : '../../../assets/icons/fi_plus.svg'
                "
                alt=""
              />
            </button>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="showForm = true; addEscenary()"
          ></button>
        </div>
      </div>
      <div class="modal-body">
        <app-message
          *ngIf="model.locked || lockedScenary"
          icon="../../../assets/icons/u_info-circle.svg"
          closeIcon="../../../assets/icons/fi_x.svg"
          content="The scenario you are using is fixed and cannot be edited."
          color="#147D8F"
          background="#EFFBFD"
        ></app-message>

        <div *ngIf="showForm" style="margin-left: 5%">
          <form
            #escenaryForm="ngForm"
            (ngSubmit)="submitEscenario(escenaryForm)"
          >
            <div class="mb-4 mt-3" style="height: 40%; width: 40%">
              <label for="name" class="form-label color-theme">Nombre</label>
              <input
                [disabled]="model.locked"
                type="text"
                id="name"
                name="name"
                [(ngModel)]="model.name"
                class="form-control input-formula"
                aria-describedby="passwordHelpBlock"
              />
            </div>
            <div class="d-flex flex-wrap">
              <div
                *ngFor="let year of years[0] | keyvalue; let i = index"
                class="row align-items-center mb-2 mr-2"
              >
                <div class="">
                  <label [for]="year.key" class="col-form-label color-theme"
                    >{{ year.key }}
                  </label>
                </div>
                <div class="">
                  <input
                    (ngModelChange)="changeValue(i, $event)"
                    [name]="year.key"
                    [disabled]="model.locked"
                    [id]="year.key"
                    [(ngModel)]="model.years[0][year.key]"
                    class="form-control input-formula"
                  />
                </div>
              </div>
            </div>
            <div class="form-check mt-2">
              <input
                class="form-check-input"
                type="checkbox"
                [(ngModel)]="model.locked"
                name="locked"
                (change)="changeLocked()"
                id="locked"
              />
              <label class="form-check-label" for="locked"> Bloquear </label>
            </div>

            <button type="submit" class="unite-button-calculate mt-5">
              Crear
            </button>
          </form>
        </div>
        <div
          *ngIf="!showForm && selectedEscenary !== '#'"
          style="margin-left: 5%"
        >
          <form
            #escenaryForm="ngForm"
            (ngSubmit)="submitEscenario(escenaryForm)"
          >
            <div class="mb-4 mt-3" style="height: 40%; width: 40%">
              <label for="name" class="form-label color-theme">Nombre</label>
              <input
                [disabled]="model.locked"
                type="text"
                id="name"
                name="name"
                [(ngModel)]="model.name"
                class="form-control input-formula"
                aria-describedby="passwordHelpBlock"
              />
            </div>
            <div class="d-flex flex-wrap">
              <div
                *ngFor="
                  let year of years[0] | keyvalue;
                  let i = index;
                  trackBy: trackByFn
                "
                class="row align-items-center mb-2 mr-2"
              >
                <div class="">
                  <label
                    [for]="year.key.toString()"
                    class="col-form-label color-theme"
                    >{{ year.key.toString() }}
                  </label>
                </div>
                <div class="">
                  <input
                    (ngModelChange)="changeValue2(i, $event, year.key)"
                    [name]="year.key.toString()"
                    [disabled]="model.locked"
                    [id]="year.key.toString()"
                    [(ngModel)]="model.years[0][year.key]"
                    onkeydown="return /[0-9%.]/.test(event.key) || event.key === 'Backspace' || event.key 'Tab'"
                    class="form-control input-formula"
                  />
                </div>
              </div>
            </div>
            <div class="form-check mt-2">
              <input
                class="form-check-input"
                type="checkbox"
                [(ngModel)]="model.locked"
                name="locked"
                (change)="changeLocked()"
                id="locked"
              />
              <label class="form-check-label" for="locked"> Bloquear </label>
            </div>
          </form>
        </div>
        <!--         <div
          *ngIf="selectedEscenary !== '#' && !showForm"
          class="form-check mt-2"
        >
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="lockedScenary"
            name="lockedScenary"
            (change)="lockedScenarys()"
            id="lockedScenary"
          />
          <label class="form-check-label" for="lockedScenary"> Bloquear </label>
        </div> -->
        <div
          class="canvas-style"
          [style]="{
            display:
              selectedEscenary === '#' && showForm === false ? 'none' : 'block'
          }"
        >
          <canvas id="chartJSContainer"></canvas>
        </div>

        <div class="modal-footer">
          <p class="smoth">Smoth</p>
          <input
            style="width: 15% !important"
            type="text"
            class="form-control input-formula"
            placeholder="smoth"
            aria-describedby="basic-addon1"
          />
          <button type="button" class="unite-button-calculate">
            Calculate
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
