<!-- Modal -->
<div
  #uniteModal
  class="modal fade"
  id="uniteModal"
  tabindex="-1"
  aria-labelledby="uniteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-12 d-flex">
          <div class="col md-2">
            Segmento
            <input
              type="text"
              class="form-control input-formula"
              placeholder="Segmento"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="col md-3">
            Escenarios
            <select class="form-select input-formula">
              <option selected value="#"></option>
              <option
                *ngFor="let escenary of escenarys; let i = index"
                value="#"
              >
                {{ escenary.name }}
              </option>

              <!--                 <input
                  type="text"
                  class="form-control input-formula"
                  placeholder="(Name of scenario)"
                  aria-describedby="basic-addon1"
                /> -->
            </select>
          </div>
          <div class="col md-3">
            <button
              style="margin-top: 22px; margin-right: 10px"
              class="unite-button"
            >
              Reset
            </button>
            <button style="margin-top: 22px" class="unite-button">
              Export to Excel
            </button>
          </div>
          <div class="col-md-1">
            <button
              (click)="addEscenary()"
              style="margin-top: 20px"
              class="unite-button"
            >
              <img
                [src]="
                  showForm
                    ? '../../../assets/icons/minus.svg'
                    : '../../../assets/icons/fi_plus.svg'
                "
                alt=""
              />
            </button>
          </div>
        </div>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-message
          icon="../../../assets/icons/u_info-circle.svg"
          closeIcon="../../../assets/icons/fi_x.svg"
          content="The scenario you are using is fixed and cannot be edited."
          color="#147D8F"
          background="#EFFBFD"
        ></app-message>
        <div *ngIf="showForm" style="margin-left: 5%">
          <form
            #escenaryForm="ngForm"
            (ngSubmit)="submitEscenario(escenaryForm)"
          >
            <div class="mb-4 mt-3" style="height: 40%; width: 40%">
              <label for="name" class="form-label color-theme">Nombre</label>
              <input
                type="text"
                id="name"
                name="name"
                [(ngModel)]="model.name"
                class="form-control input-formula"
                aria-describedby="passwordHelpBlock"
              />
            </div>
            <div class="d-flex flex-wrap">
              <div
                *ngFor="let year of years[0] | keyvalue"
                class="row align-items-center mb-2 mr-2"
              >
                <div class="">
                  <label [for]="year.key" class="col-form-label color-theme"
                    >{{ year.key }}
                  </label>
                </div>
                <div class="">
                  <input
                    [name]="year.key"
                    type="text"
                    [id]="year.key"
                    [(ngModel)]="model.years[0][year.key]"
                    class="form-control input-formula"
                  />
                </div>
              </div>
              <!--               <div class="row g-3 align-items-center mb-3 mr-2">
                <div class="col-auto">
                  <label for="2021" class="col-form-label color-theme"
                    >2021</label
                  >
                </div>
                <div class="col-auto">
                  <input
                    type="password"
                    id="2021"
                    class="form-control input-formula"
                    aria-describedby="passwordHelpInline"
                  />
                </div>
              </div> -->
            </div>
            <button type="submit" class="unite-button-calculate mt-5">
              Crear
            </button>

            <!--         <div
          style="
            height: 529px;

            position: relative !important;

            display: inline-flex !important;
            margin-top: 30px !important;
            margin-left: 14% !important;
          "
        >
          <div
            style="
              width: 781.5px;
              height: 348.5px;
              left: 101px;
              top: 73px;
              position: absolute;
              border: 3px #ffb6c1 solid;
            "
          ></div>
          <div
            style="
              width: 911px;
              height: 0px;
              left: 36px;
              top: 491px;
              position: absolute;
              border: 1px #cbd4e1 solid;
            "
          ></div>
          <div
            style="
              width: 490px;
              height: 0px;
              left: 37px;
              top: 490px;
              position: absolute;
              transform: rotate(-90deg);
              transform-origin: 0 0;
              border: 1px #cbd4e1 solid;
            "
          ></div>
          <div
            style="
              left: 90px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘12
          </div>
          <div
            style="
              left: 1px;
              top: 59px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            60
          </div>
          <div
            style="
              left: 1px;
              top: 129px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            50
          </div>
          <div
            style="
              left: 0px;
              top: 199px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            40
          </div>
          <div
            style="
              left: 2px;
              top: 269px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            30
          </div>
          <div
            style="
              left: 2px;
              top: 339px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            20
          </div>
          <div
            style="
              left: 2px;
              top: 409px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            10
          </div>
          <div
            style="
              left: 10px;
              top: 472px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            0
          </div>
          <div
            style="
              left: 161px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘13
          </div>
          <div
            style="
              left: 232px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘14
          </div>
          <div
            style="
              left: 303px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘15
          </div>
          <div
            style="
              left: 374px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘16
          </div>
          <div
            style="
              left: 445px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘17
          </div>
          <div
            style="
              left: 516px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘18
          </div>
          <div
            style="
              left: 587px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘19
          </div>
          <div
            style="
              left: 658px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘20
          </div>
          <div
            style="
              left: 729px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘21
          </div>
          <div
            style="
              left: 800px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘22
          </div>
          <div
            style="
              left: 871px;
              top: 505px;
              position: absolute;
              color: #64748b;
              font-size: 16px;
              font-family: Readex Pro;
              font-weight: 500;
              line-height: 24px;
              word-wrap: break-word;
            "
          >
            ‘23
          </div>
          <div
            style="
              width: 911px;
              height: 420px;
              left: 34px;
              top: 1px;
              position: absolute;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              gap: 70px;
              display: inline-flex;
            "
          >
            <div
              style="width: 911px; height: 0px; border: 1px #cbd4e1 dotted"
            ></div>
            <div
              style="width: 911px; height: 0px; border: 1px #cbd4e1 dotted"
            ></div>
            <div
              style="width: 911px; height: 0px; border: 1px #cbd4e1 dotted"
            ></div>
            <div
              style="width: 911px; height: 0px; border: 1px #cbd4e1 dotted"
            ></div>
            <div
              style="width: 911px; height: 0px; border: 1px #cbd4e1 dotted"
            ></div>
            <div
              style="width: 911px; height: 0px; border: 1px #cbd4e1 dotted"
            ></div>
            <div
              style="width: 911px; height: 0px; border: 1px #cbd4e1 dotted"
            ></div>
          </div>
          <div
            style="
              width: 30px;
              height: 81px;
              left: 86px;
              top: 409px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 69px;
                left: 10px;
                top: 12px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 151px;
              left: 159px;
              top: 339px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 142px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 220px;
              left: 228px;
              top: 270px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 211px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 358px;
              left: 512px;
              top: 132px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 349px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 315px;
              left: 442px;
              top: 176px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 306px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 315px;
              left: 655px;
              top: 176px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 306px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 247px;
              left: 723px;
              top: 243px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 238px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 154px;
              left: 797px;
              top: 336px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 145px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 222px;
              left: 867px;
              top: 268px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 213px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 315px;
              left: 302px;
              top: 176px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 306px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 289px;
              left: 373px;
              top: 201px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 280px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 30px;
              height: 430px;
              left: 583px;
              top: 60px;
              position: absolute;
            "
          >
            <div
              style="
                width: 10px;
                height: 421px;
                left: 10px;
                top: 9px;
                position: absolute;
                background: #ff3a58;
              "
            ></div>
            <div
              style="
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 30px;
                  height: 30px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #ff3a58;
                  border-radius: 9999px;
                "
              ></div>
              <div
                style="
                  width: 17.5px;
                  height: 17.5px;
                  left: 6.25px;
                  top: 6.25px;
                  position: absolute;
                  background: white;
                  border-radius: 9999px;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              width: 62px;
              height: 26px;
              padding-left: 10px;
              padding-right: 10px;
              padding-top: 4px;
              padding-bottom: 4px;
              left: 567px;
              top: 21px;
              position: absolute;
              background: #000f55;
              border-radius: 15px;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 10px;
              display: inline-flex;
            "
          >
            <div
              style="
                color: white;
                font-size: 14px;
                font-family: Readex Pro;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              15.325
            </div>
          </div>
          <div
            style="
              width: 20px;
              height: 20px;
              left: 35px;
              top: 507px;
              position: absolute;
            "
          >
            <div
              style="
                width: 5px;
                height: 10px;
                left: 7.5px;
                top: 5px;
                position: absolute;
                border: 2px #64748b solid;
              "
            ></div>
          </div>
          <div
            style="
              width: 20px;
              height: 20px;
              left: 928px;
              top: 507px;
              position: absolute;
            "
          >
            <div
              style="
                width: 5px;
                height: 10px;
                left: 7.5px;
                top: 5px;
                position: absolute;
                border: 2px #64748b solid;
              "
            ></div>
          </div>
        </div> -->
          </form>
        </div>
        <div>
          <canvas id="chartJSContainer"></canvas>
        </div>

        <div class="modal-footer">
          <p class="smoth">Smoth</p>
          <input
            style="width: 15% !important"
            type="text"
            class="form-control input-formula"
            placeholder="smoth"
            aria-describedby="basic-addon1"
          />
          <button type="button" class="unite-button-calculate">
            Calculate
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
