<app-create-project (createProjectEvent)="getProjects()"></app-create-project>

<!-- <app-message
  [content]="
    'El escenario que estás utilizando está fijo y no se puede editar.'
  "
  [color]="'red'"
  background="#FFEBEE"
  icon="../../../assets/icons/fi_x-circle_red.svg"
  closeIcon="../../../assets/icons/fi_x_red.svg"
></app-message> -->

<div class="d-flex flex-wrap justify-content-start">
  <div
    *ngFor="let project of projects"
    class="card mr-5 mb-4 p-1"
    style="width: 18rem; background-color: #f5f3ff"
    (click)="redirect(project.id)"
  >
    <img src="../../../assets/img/project.png" class="card-img-top" alt="..." />
    <div class="custom-div">
      <p>
        <i class="fa fa-clock" aria-hidden="true"></i>
        {{ convertDateFormat(project.created_at) }}
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ project.name }}</h5>
      <p class="card-text">Modelo de ingresos</p>
      <div class="user-menu">
        <img
          class="user-icon"
          src="../../../assets/img/219969.png"
          alt="User Icon"
        />
        <div class="user-info">
          <p class="user-name">Fernando Alcantara</p>
          <p class="card-text">Owner</p>
        </div>
      </div>
    </div>
  </div>
</div>
