.card-title {
  font-weight: bold;
}
.card-text {
  color: #64748b;
}
.user-menu {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.user-info p {
  margin: 0; /* Establece el margen a 0 para eliminar el espacio entre párrafos */
}
.user-name {
  font-weight: bold;
}
.custom-div {
  background-color: #8c64b1;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 123px;
  height: 30px;
  font-size: small;
  font-weight: bold;
  padding: 5px; /* Puedes ajustar este valor según sea necesario */
  align-items: center;
  margin-left: 2%;
  margin-top: 5%;
}

.icon {
  margin-right: 10px;
}
.button-up,
.button-down,
.button-left,
.button-right {
  position: absolute;
  background-color: #8c64b1;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilos específicos para cada botón */
.button-up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.img-top {
}

.div-top {
  height: 200px;
  background-size: cover;
  /*  background-size: 110%; */
  background-position: center;
}

.button-down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.button-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.button-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
