<div *ngIf="stepOne" class="login-container">
  <div class="login-box">
    <div class="login-logo-container">
      <img src="../../../assets/img/logo.svg" alt="Logo" class="login-logo" />
    </div>

    <h2 class="login-title">Restore Password</h2>
    <form [formGroup]="sendEmailForm" (ngSubmit)="onSubmitOne()">
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="form-input"
          required
        />
        <div
          *ngIf="f['email'].touched && f['email'].errors"
          class="error-message"
        >
          <div class="error-color" *ngIf="f['email'].errors['required']">
            Email is required.
          </div>
          <div class="error-color" *ngIf="f['email'].errors['email']">
            Enter a valid email address.
          </div>
        </div>
      </div>

      <button type="submit" class="login-button mt-1" [disabled]="isLoading">
        <ng-container *ngIf="!isLoading">Send Email</ng-container>
        <ng-container *ngIf="isLoading">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </ng-container>
      </button>
    </form>
  </div>
</div>

<div *ngIf="stepTwo" class="login-container">
  <div class="login-box">
    <div class="login-logo-container">
      <img src="../../../assets/img/logo.svg" alt="Logo" class="login-logo" />
    </div>

    <h2 class="login-title">Enter the code received in your email.</h2>
    <form [formGroup]="codeForm" (ngSubmit)="onSubmitTwo()">
      <div class="form-group">
        <label for="code" class="form-label">Code</label>
        <input
          type="text"
          id="code"
          name="code"
          formControlName="code"
          class="form-input"
          required
        />
        <div
          *ngIf="c['code'].touched && c['code'].errors"
          class="error-message"
        >
          <div class="error-color" *ngIf="c['code'].errors['required']">
            Code is required.
          </div>
          <div class="error-color" *ngIf="c['code'].errors['code']">
            Enter a valid code address.
          </div>
        </div>
      </div>

      <button type="submit" class="login-button mt-1" [disabled]="isLoading">
        <ng-container *ngIf="!isLoading">Send Code</ng-container>
        <ng-container *ngIf="isLoading">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </ng-container>
      </button>
    </form>
  </div>
</div>
<div *ngIf="stepThree" class="login-container">
  <div class="login-box">
    <div class="login-logo-container">
      <img src="../../../assets/img/logo.svg" alt="Logo" class="login-logo" />
    </div>

    <h2 class="login-title">New Password</h2>
    <form [formGroup]="changeForm" (ngSubmit)="onSubmitThree()">
      <div class="form-group">
        <label for="password-register" class="form-label">Password</label>
        <input
          type="password"
          id="password-register"
          formControlName="password"
          class="form-input"
        />
        <div
          *ngIf="p['password'].touched && p['password'].errors"
          class="error-message"
        >
          <div class="error-color" *ngIf="p['password'].errors['required']">
            Password is required.
          </div>
          <div class="error-color" *ngIf="p['password'].errors['minlength']">
            Password must be at least 8 characters long.
          </div>
          <div class="error-color" *ngIf="p['password'].errors['pattern']">
            Password must contain at least one number.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password-confirm" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          id="password-confirm"
          formControlName="confirmPassword"
          class="form-input"
        />
        <div
          *ngIf="p['confirmPassword'].touched && p['confirmPassword'].errors"
          class="error-message"
        >
          <div
            class="error-color"
            *ngIf="p['confirmPassword'].errors['required']"
          >
            Confirming password is required.
          </div>
          <div
            class="error-color"
            *ngIf="p['confirmPassword'].errors['mustMatch']"
          >
            Passwords do not match.
          </div>
        </div>
      </div>

      <button type="submit" class="login-button mt-1" [disabled]="isLoading">
        <ng-container *ngIf="!isLoading">Change Password</ng-container>
        <ng-container *ngIf="isLoading">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </ng-container>
      </button>
    </form>
  </div>
</div>
