/* .logo {
  height: 100px !important;
  width: 60% !important;
  margin: auto;
  max-width: 100px;
} */

/* html,
body {
  height: 100%;
} */
body {
  /* background-color: #f5f3ff !important; */
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-right: 2% !important;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
:root {
  /* System tokens */

  --md-switch-icon-color: red;
}
.confirm {
  background-color: #000f55 !important; /* Cambia el color de fondo según tus preferencias */
  font-weight: bold;
  border-radius: 25px !important;
}
.cancel {
  color: #000f55 !important; /* Cambia el color de fondo según tus preferencias */

  border: 1px solid rgb(199, 199, 199) !important;
  font-weight: bold;
  border-radius: 25px !important;
  background-color: white !important;

  padding-right: 2.5em !important;

  padding-left: 2.5em !important;
}
